body {
  margin: 0;
  min-height: 100vh;
  position: relative;
  display: flex;
  font-family: sans-serif;
  width: 100%;
  flex-direction: column;
}

#shape-layer {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
}

.deck {
  background: #ffffffdd;
  border-radius: 5px;
  box-shadow: 0 4px 16px rgba(12, 12, 13, .1);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-between;
  margin: 40px;
  padding: 20px;
  position: relative;
  width: 300px;
  z-index: 1;
}

.deck.hidden {
  display: none;
}

.deck p {
  margin-top: 0;
  line-height: 1.3em;
  margin-bottom: 5px;
}

#redraw {
  height: 54px;
  border: none;
  background: #3a8ee6;
  color: white;
  border-radius: 5px;
  font-size: 21px;
  cursor: pointer;
}

#redraw:hover {
   background: #2d6eb3;
}

#redraw:active {
   background: #255d99;
}

h3 {
  margin-top: 0;
  flex: 1 0 100%;
}

label {
  display: block;
  margin-top: 3px;
  margin-bottom: 24px;
  font-weight: 900;
  flex: 1 0 100%;
}

#colors {
  display:grid;
  grid-gap: 4px;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 40px;
}

.color-label {
  height: 100%;
  align-items: center;
  border-radius: 5px;
  font-family: monospace;
  font-size: 18px;
  -moz-user-select: none;
  display: flex;
}

input[type='checkbox'] {
  width:30px;
  height:20px;
  background:white;
  border-radius:5px;
  border:2px solid #555;
}

input[type=number],
input[type=range] {
  font-size: 16px;
  margin-top: 10px;
  font-size: 16px;
  border-radius: 5px;

}

input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  background: #e7e5e2;
  outline: none !important;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

input[type=range]:focus::-moz-range-thumb {
  background: #3a8ee6;
}

input[type=range]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #959595;
  cursor: pointer;
  border: none;
}


input[type=range]::-moz-focus-outer {
  border: 0;
}

footer {
  height: 72px;
}

#shape-drawer {
  display: none;
}

.circle svg,
.moon svg,
.line svg,
.caret svg{
  width: 100%;
  height: auto;
}

@media only screen and (max-width: 768px) {
  .deck {
    margin: 0;
    box-shadow: transparent;
    background: transparent;
    width: 100%;
  }
}
